* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "poppins", sans-serif;
}

.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  header {
    text-align: center;
    font-family: Helvetica, sans-serif;
    h1 {
      margin: 50px 0 30px 0;
      font-size: 5rem;
      font-weight: 2rem;
    }
    p {
      font-size: 2rem;
    }
  }

  .pads {
    background-color: #add8e6;
    width: 100%;
    display: flex;

    > div {
      height: 100px;
      width: 100px;
      flex: 1;
    }

    .pad1 {
      background-color: #60d394;
    }
    .pad2 {
      background-color: #d36060;
    }
    .pad3 {
      background-color: #c060d3;
    }
    .pad4 {
      background-color: #d3d160;
    }
    .pad5 {
      background-color: #6860d3;
    }
    .pad6 {
      background-color: #60b2d3;
    }
  }
}
